import init.smdkc210.usb.rc

on early-init
    export EXTERNAL_STORAGE /mnt/sdcard
    mkdir /mnt/sdcard 0000 system system
    symlink /mnt/sdcard /sdcard

on post-fs-data
    # we will remap this as /mnt/sdcard with the sdcard fuse tool
    mkdir /data/media 0775 media_rw media_rw
    chown media_rw media_rw /data/media

on boot
    setprop ro.build.product smdkc210
    setprop ro.product.device smdkc210
    setprop ro.radio.noril yes

on fs
    mount ext4 /dev/block/mmcblk0p2 /system ro wait
    mount ext4 /dev/block/mmcblk0p3 /data wait nosuid nodev noatime nomblk_io_submit
    mount ext4 /dev/block/mmcblk0p4 /cache nosuid nodev noatime
    setprop ro.crypto.fuse_sdcard true

# Permissions for backlight
    export BACKLIGHT_PATH /sys/class/backlight/pwm-backlight.0/brightness
    chmod 0666 BACKLIGHT_PATH
    chown system system BACKLIGHT_PATH

# fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

service sdcard /system/bin/sdcard /data/media 1023 1023
    class late_start
