/dev/mali                 0666   system     system
/dev/ion                  0666   system     system
/dev/ump                  0666   system     graphics
/dev/exynos-mem           0666   system     graphics
/dev/s3c-mfc              0666   system     graphics
/dev/s3c-mem              0660   system     system
/dev/video0               0666   system     m2m
/dev/video1               0666   system     camera
/dev/video2               0666   system     m2m
/dev/video3               0666   system     m2m
/dev/video4               0666   system     m2m
/dev/video14              0660   system     system
/dev/video21              0660   system     system
/dev/fimg2d               0666   system     graphics
/dev/i2c-1                0660   system     system
/dev/i2c-7                0660   system     system
/dev/CEC                  0660   system     system
/dev/HPD                  0660   system     system
/dev/s5p-jpeg             0666   system     camera
/dev/pmem_gpu1            0660   system     graphics
